@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

.post-row {
    background-color: rgb(247, 247, 247);
    /* border-style: solid;
    border-color: black; */
}

.post-column {
    background-color: rgb(223, 222, 222);
    border-style: solid;
    border-color: black;
}